.results-area
  .row.right
    small.col.s-primary(ng-if="opts.ranked && (relCount() == 0 || relCount() > 5)")
      | (Select 1 to 5 Relevant Results)
    #rerank-btn.col.btn(
      ng-click="reRank(qterm)",
      ng-show="opts.ranked",
      ng-class="{disabled: (opts.ranked && (relCount() == 0 || relCount() > 5))}"
    ) Rerank
  .row
  //- web results area
  .web-results(ng-show="opts.search==='Web'")
    .row.valign-wrapper.card(ng-repeat="h in hits")
      .col.s1.valign.left-align
        | {{$index + 1}}
      .result-content-area.section.col.s9.valign
        h6.result-title-area(ng-bind-html="h.htmlTitle")
        .s-primary(ng-bind-html="h.htmlSnippet")
        a(href="{{h.link}}", ng-bind-html="h.htmlFormattedUrl", target="_blank")
      .col.s2.valign.right-align
        .checks(ng-if="opts.ranked")
          span.left-align #[small Relevant #[br]]
          input(type="checkbox", id="rel-chbx-{{$index}}", ng-model="h.rel")
          label(for="rel-chbx-{{$index}}")
        .rank-badge(ng-show="opts.ranked && h.weight")
          .tiny-badge.left-align(ng-model="h.weight") {{ 'Score: ' + weight(h) }}
  //- local results area
  .local-results(ng-show="opts.search==='Local'")
    .row.valign-wrapper.card(
      ng-repeat="h in hits"
      ng-class="'host-' + h.host"
    )
      .col.s1.valign.left-align
        | {{$index + 1}}
      .result-content-area.section.col.s7.valign(ng-class="'lang-' + toLang(h.lang)")
        h6.result-title-area() {{h.name}}
        .s-primary() {{h.description}}
        a(ng-if="h.url", ng-href="{{h.url}}", target="_blank") {{h.url}}
      .col.s2.valign.center-align
        .tiny-badge(ng-class="'tiny-' + toLang(h.lang)") {{h.lang}}
      .col.s2.valign.center-align(ng-if="h.owner")
        img.ava.circle(ng-src="{{h.owner.avatar_url}}")
        br
        a.usr-lnk(ng-href="{{h.owner.html_url}}", target="_blank") {{h.owner.handle}}
  .load-wheel.center-align(show-trigger="working")
